@model HomePageContent
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "The Janitors Pocket";
    
}

@section header{ 
    
}

@section footer
{

}

<h1>Home</h1>

<h2>Check out the Blog!</h2>
@Html.Partial("_BlogPostLinkList", Model.BlogList)
<h2>The goods ;)</h2>
@Html.Partial("_Inventory", Model.ProductList)