@model IEnumerable<BlogPost>


<h2>Blog Post List</h2>

@if (Model != null)
{
    foreach (BlogPost bp in Model)
    {
        @Html.ActionLink(bp.Title, "Display", new { id = bp.ID });
        <div>@bp.Timestamp.ToLocalTime()</div>
    }
}
