@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="header_image">
            <img src="http://www.musikchan.com/music/src/145452121224.jpg" />
            <h2>The Janitors Pocket</h2>
        </div>   
        @RenderSection("header", required:false)
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        @RenderSection("footer", required: false)
        <text>2016 Copyright Janitors Pocket Incorperated</text>
    </footer>
</body>
</html>
