
@{
    ViewBag.Title = "Submission";
}

<h1>Submission Received</h1>

<div>
    <p>
        Your submission has been received, expect to hear from us soon... Unless your the CIA in which case, go away Greg its over!
    </p>
</div>