@model ASP.Net_Project.Models.Test.ShortAnswerQuestion



<div>
    <h2>@Html.Raw(Model.Question)</h2>
    @Html.TextBoxFor(Model => Model.Answer)
    @Html.HiddenFor(Model => Model.ID)
    <div>@Html.ValidationMessageFor(Model => Model.Answer)</div>
</div>