@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}


<h1>About</h1>

<p>
    We here are a company with the goal of providing new and old games to those that want them. Though our means of aquiring the games may be questionable, we promise a 95% satisfaction from  using our service. 
    We created this company, in 2016, after working at local game retailers for many years that greatly ripped people off on physical and digital media. Based in Klamath Falls Oregon, we use our "connections" in the industry to provide games at prices that we see fit.
    Thank you for every one that supports the site and the company. 
    <br/><br />
    PS: IF this is the ESRB or the CIA... HI, nothing to see here. Move along. 
</p>