@model List<BlogPost>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h1>Blog Posts</h1>
@Html.Partial("_BlogPostLinkList")

<div>
    @Html.ActionLink("Add new post", "Add")

    <form method="post">
        <label>Filter By:</label>
        <input type="text" id="filter" name="filter"/>
        <button type="submit">Submit</button>
    </form>
</div>